<div>
    <div class="card">
            <div class="card-img">
                <img src="{{img}}"alt="Няма">
            </div>
            <div class="card-info">
                <div class="card-info-title">
                    <h5 class="card-title">{{name}}</h5>
                </div>
                <div class="card-info-content">
                    <div class="c c-1">
                        <p class="card-text info-color">{{ageRealise}}</p>
                        <p class="card-text info-color">{{ves}}</p>
                    </div>
                    <div class="c c-2">
                        <p class="card-text info-color">{{number}}</p>
                        <p class="card-text info-color">{{color}}</p>
                    </div>
                    <div class="c c-3">
                        <p class="card-text info-color">{{type}}</p>
                        <p class="card-text info-color">{{countOfNarush}}</p>
                    </div>
                    <div class="c c-4">
                        <p class="card-text info-color">{{sumFines}}</p>
                    </div>
                </div>
            </div>
    </div>
</div>